body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/galaxy-background.svg");
}

* {
    box-sizing: border-box;
}
.max-height-1000{
    height: 1000px;
}

.content-center{
    justify-content: center;
}

.entrada{
    border: none;
    border-radius: 8px;
    height: 3rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: rgb(0 0 0 / 35%) 5px 5px 15px;
}

.card-infos{
    background-color: #EFFF34;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    height: 120px;
    width: 230px;
    padding: 10px;
    margin: 15px;
}

.text-white{
    color: #ffffff;
}